body {
  font-family: "Roboto Helvetica", sans-serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: ;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%; 
}

ul {
  margin: 0;
  padding: 0; 
}

footer {
  height: 100px;
  text-align: center;
  background-color: grey;
  color: white; 
}

#WelcomeSection {
  background-color: #5DBCD8;
}

#FeatureSection {
  text-align: center;
}

.experience-div {
  margin: 100px auto;  
}

.experience-div > div {
  font-size: 32px;
}

.experience-div > p {
  color: gray;
  max-width: 640px;
  margin: 30px auto;
  font-size: 22px;
  letter-spacing: .3;
  font-weight: 300;

}

#RippleLogo {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

#WelcomeSection > #PhoneContainer {
  width: 320px;
  height:535px;
  float: left;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 84px;
  overflow: hidden;
}
#PhoneImage {
  max-width: 100%;
  /*max-height: 100%;*/

}

.right-container {
  margin-left: 50%;
  text-align: left;
  color: #eee;  
  padding-top: 200px;
  /*text-shadow: 0 2px 10px rgba(0,0,0,.1);*/
}

.right-container > .title {
  font-size: 40px;
}

.right-container > .description {
  font-size: 22px;
  font-weight: 200;
  max-width: 500px;
  padding-top: 20px;
}

.button-outline {
  width: 150px;
  color: #eee;
  border: 2px solid #eee;
  background-color: transparent;
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 24px;
  margin-top: 30px;
  display: inline-block;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-outline:hover {
  cursor: hand;
  color: #5DBCD8;  
  background-color: #eee;
}

#DemoSection > #DemoPhoneContainer {
  width: 22%;
  height: auto;
  float: right;
  margin-left: 200px;
  margin-top: 84px;
  margin-right: 14%;
}


.hero-title {
  font-size: 78px;
  padding-top: 300px;
  text-transform: uppercase; 
}

.hero-container {
  text-align: center;
  background-color: white;
  height: 700px; 
}

.nav-link {
  padding: 10px 15px;
  display: inline-block; 
}
.nav-link a {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 60px;
  text-decoration: none; 
}
.nav-link a:hover {
  color: green; 
}
.nav-link a:focus {
  color: black; 
}

.nav-container {
  background-color: #f3f3f3;
  text-align: center;
  height: 0px;
  width: 100%;
  position: fixed;
  top: 0px;
  /* Adds shadow to bottom border*/
  -webkit-box-shadow: 0 1px 1px gray inset;
  -moz-box-shadow: 0 1px 1px gray inset;
  box-shadow: 0 1px 1px gray inset; 
}

.bar, #bar{
  background-color: silver;
  margin-bottom: 100px;
}
#bar, .bar > .follow_bar {
    background-color: #41d142;
}
.bar-container {
  /*zoom: 3;*/
}
@media(min-device-width: 480px) {
  .bar {
    background-color: blue; 
  }
  .bar-container {
    /*zoom: 1;*/
    background-color: yellow;
  }
}
